doctype html
html
	head
		title Main page

		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/lib/cropper/cropper.min.css')
		link(rel='stylesheet', href='/css/index.css')

		script(src='/lib/require.js', data-main='/js/main.js')
body
	.container
		form.container-fluid#upload
			.row
				.col-md-12
					h4 Choose File
					.form-group
						input.form-control(type='file', id='file', accept='.jpg;.png')

		form.hidden.container-fluid#form
			.row
				.col-md-4
					h4 Select area
					.row
						.col-xs-6
							.form-group
								label X1
								input#x1.input-sm.form-control(type='number', name='x1', min='0')
						.col-xs-6
							.form-group
								label Y1
								input#y1.input-sm.form-control(type='number', name='y1', min='0')
					.row
						.col-xs-6
							.form-group
								label X2
								input#x2.input-sm.form-control(type='number', name='x2', min='0')
						.col-xs-6
							.form-group
								label Y2
								input#y2.input-sm.form-control(type='number', name='y2', min='0')
					.row
						.col-xs-12
							.form-group
								button#cropper.btn.btn-block.btn-default(type='button') Toggle Canvas Cropper
				.col-md-8
					.row
						.col-md-6
							h4 Available filters
							#filter-list
						.col-md-6
							h4 Filter options
							#filter-options
					.row
						.col-xs-3.col-xs-offset-6
							button#apply.disabled.form-control.btn.btn-primary.btn-block(type='button') Apply filter
						.col-xs-3
							button#cancel.disabled.form-control.btn.btn-danger.btn-block(type='button') Revert filter
			#scene.row.text-center
				#loader.hidden &#8635;
				#image-wrapper
					img#image
				canvas#canvas
			.row
				.col-xs-3
					button#unload.form-control.btn.btn-default.btn-block(type='button') Unload
				.col-xs-3
					button#save.form-control.btn.btn-success.btn-block(type='button') Save image

